[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BAT"]
	path = BAT
	url = https://github.com/cran/BAT
[submodule "arakno"]
	path = arakno
	url = https://github.com/cran/arakno
